import sqlite3

from geopy.geocoders import Nominatim

def is_place(words):
geolocator = Nominatim(user_agent="my_application")
for word in words:
location = geolocator.geocode(word)
if location is None: # print(f"{word} is not a recognized place.")
pass
else:
print(f"{word} is located at ({location.latitude}, {location.longitude}), {location.address.split(',')[-1].strip()}.")

words = ["Rama 7 Bridge","Nonthaburi", "KMUTNB", "leh", "Alaska", "area 51", "สนามหลวง", "นครวัด", "วัดสำโรง"]
is_place(words)

conn = sqlite3.connect('database_elt_main.db')
curr = conn.cursor()

curr.execute("SELECT \* FROM Web_Data LIMIT 10")

temp = curr.fetchall()

all_words = (temp[0][2]).split(" , ")

is_place(all_words)

with open('allCountries.txt', encoding='utf-8') as f:
line_count = 0
for line in f:
if line_count >= 100:
break # Exit the loop after reading 100 lines
print(line)
line_count += 1

In [48]:
# make pandas dataframe without index
df = pd.DataFrame({'country': ['USA', 'Russia', 'China'], 'count': [30, 13, 20]})

In [49]:
df

  country  count
0     USA     30
1  Russia     13
2   China     20

In [50]:
df.append({'country': 'Thailand', 'count': 16}, ignore_index=True)

C:\Users\aingt\AppData\Local\Temp\ipykernel_10964\849672149.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append({'country': 'Thailand', 'count': 16}, ignore_index=True)

    country  count
0       USA     30
1    Russia     13
2     China     20
3  Thailand     16

In [51]:

df.to_csv('countries_tableau_test1.csv', index=False)

In [52]:
import pycountry 
from countryinfo import CountryInfo
import tqdm

places_list = []

countries = pycountry.countries

for country in (countries):
    try:    
        c_name = country.name
        # print(c_name)
        # get coordinates
        # country = CountryInfo(c_name)
        # coor = country.latlng()
        
        places_list.append(c_name.lower())
        
    except:
        pass

In [53]:
import sqlite3
conn = sqlite3.connect('database_elt_main_backup.db')
curr = conn.cursor()

curr.execute("SELECT Word, Document_Freq FROM Inverted_Index")
words_data = curr.fetchall()

In [54]:
words_data[:3]

[('photography', 1734), ('life', 1593), ('pl', 1238)]

In [58]:
import pandas as pd

# create temp dictionary
places_dict = {}

for word in words_data:
    if word[0] in places_list:
        # print(word[0], word[1])
        # add to dictionary
        # country name 
        places_dict[word[0]] = word[1]

In [60]:
import pandas as pd

df = pd.DataFrame(list(places_dict.items()), columns=['Country', 'Frequency'])

In [62]:
# save to csv
df.to_csv('places_freq_test3.csv', index=False)